@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

.background {
  background-image: url("./images/Mountain.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
}

.conatiner {
  display: grid;
  place-items: center;
  height: 100vh;
}

.conatiner h1 {
  font-size: 2rem;
  text-align: center;
}

.settings {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.settings i {
  font-size: 30px;
}

.setting-content {
  display: flex;
  gap: 1rem;
}

.setting-content input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
}

.setting-content button {
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
}

.hide {
  display: none;
}

.time-conatiner {
  margin-top: 1.5rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.time-conatiner h2 {
  font-size: 0.8rem;
  text-align: center;
}

.time-conatiner div{
    font-size: 2rem;
    line-height: 3rem;
}
